@import "lib/reboot";

.clearfix {
  &:after {
    content: '';
    clear: both;
    display: table;
    visibility: hidden;
  }
}

/* icons */
.icon {
  display: inline-block;
  vertical-align: bottom;
}

.icon-play {
    width: 12px;
    height: 16px;
    border-top: 8px solid transparent;
    border-left: 12px solid #000;
    border-bottom: 8px solid transparent;
}

.icon-pause {
    width: 12px;
    height: 16px;
    border-right: 4px solid #000;
    border-left: 4px solid #000;
    padding: 0 2px;
}

/* container */
.container-timer {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  text-align: center;
}

/* button */
.btn {
  border: 0;
  cursor: pointer;
  padding: 12px 6px;

  &:hover {
    outline: 0;
  }

  &:focus {
    outline: 0;
  }

  &-timer {
    display: inline-block;
    background-color: #fff;

    span {
      display: inline-block;
    }
  }
}


/* box */
.container-box {
  @extend .clearfix;
  width: 250px;
  margin: 1rem auto;

  .box {
    width: 50px;
    height: 50px;
    float: left;
    border: 1px solid #e6e6e6;

    &-black {
      background-color: #000;
      border-color: #000;
    }

    &-light {
      background-color: #BBDEFB;
    }

    &.isActive {
      background-color: #0D47A1;
    }

  }
}

.container-keyboard {
  position: absolute;
  bottom: 0;
  background: #ccc;
  padding: 10px;
  text-align: center;
}

.keyboard {
  @extend .clearfix;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

  li {
    margin: 0 3px 3px 0;
    width: 36px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    font-family: verdana, Arial, serif;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.08);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.08);

    &:hover {
      position: relative;
      top: 1px;
      left: 1px;
      border-color: #e5e5e5;
      cursor: pointer;
    }
  }
}
